
#logo{
    height: 2rem;
    width: 6.75rem;

}

#avatarLogo{
    height: 50px;
}

#header-aside{
    color: #ffff;
}
.navbar{
    
    
    position: fixed;
    top: 0;
    width: 100%;
}
.navbar-toggler-icon{
    color: red;
}